h1{
    color: #4ac1f7;
}
.logo{
    height: 200px;
    width: auto;
}
header {
    background-color: #1e1e2f;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}
nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 0.3s ease;
}

nav a:hover {
    color: #00bcd4;
}

nav a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }
}